{
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@app": "./app/",
            "@screen": "./app/screens/index.js",
            "@i18": "./app/i18n/i18n.js",
            "@constant": "./app/constants/Constant.js",
            "@image": "./app/assets/images/",
            "@action": "./app/redux/actions/index.js",
            "@component": "./app/components",
            "@R": "./app/res/R.js",
            "@api": "./app/constants/Api.js"
          }
        }
      ]
    ]
  }